<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>

	<servlet>
		<servlet-name>testServlet</servlet-name>
		<servlet-class>com.spinal.edgenodegraphui.servlet.graphdata.TestServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>hdfsGetServlet</servlet-name>
		<servlet-class>com.spinal.edgenodegraphui.servlet.graphdata.HdfsGetServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>HdfsSampleGen</servlet-name>
		<servlet-class>com.spinal.edgenodegraphui.servlet.graphdata.HdfsSampleGen</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>HbaseSampleGen</servlet-name>
		<servlet-class>com.spinal.edgenodegraphui.servlet.graphdata.HbaseSampleGen</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>HBaseGetServlet</servlet-name>
		<servlet-class>com.spinal.edgenodegraphui.servlet.graphdata.HBaseGetServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>testServlet</servlet-name>
		<url-pattern>/test.do</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>HdfsSampleGen</servlet-name>
		<url-pattern>/HdfsSampleGen.do</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>hdfsGetServlet</servlet-name>
		<url-pattern>/hdfsTsvServlet.tsv</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>hdfsGetServlet</servlet-name>
		<url-pattern>/hdfsJsonServlet.json</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>HbaseSampleGen</servlet-name>
		<url-pattern>/HbaseSampleGen.do</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>HBaseGetServlet</servlet-name>
		<url-pattern>/HbaseGet.tsv</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>HBaseGetServlet</servlet-name>
		<url-pattern>/HbaseGet.json</url-pattern>
	</servlet-mapping>
</web-app>
